target/
*.class
*.jar
*.war
*.ear
.mvn

.idea/
*.iml
*.ipr
*.iws
out/
*.shelf/
workspace.xml

.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo

.env
*.local

postgres_data/
*.pid

src/main/resources/application-hlg.yml
src/main/resources/application.properties